@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer components {
  .container-wrapper {
    @apply w-full;
  }

  .accordion-default {
    .accordion-content {
      @apply relative overflow-hidden transition-[max-height] duration-300 ease-in-out;
    }

    .accordion-content.is-collapsed::after {
      content: '';
      @apply pointer-events-none absolute right-0 bottom-0 left-0 h-20 bg-gradient-to-t from-white to-transparent;
    }

    .accordion-toggle {
      @apply mt-5 inline-flex cursor-pointer items-center gap-3 bg-transparent text-xs font-semibold tracking-[0.2em] uppercase;
    }
  }

  /* bordered */
  .sxa-bordered {
    @apply rounded-xl;
    > .component-content {
      @apply rounded-xl border p-6;
    }
  }
}

@layer utilities {
  .container-align-right {
    @apply mx-4 lg:mr-0 lg:ml-[calc((100vw-1024px)/2+1rem)] xl:ml-[calc((100vw-1280px)/2+1rem)] 2xl:ml-[calc((100vw-1536px)/2+1rem)];
  }

  .container-align-left {
    @apply mx-4 lg:mr-[calc((100vw-1024px)/2+1rem)] lg:ml-0 xl:mr-[calc((100vw-1280px)/2+1rem)] 2xl:mr-[calc((100vw-1536px)/2+1rem)];
  }
}
